{% extends 'base.html' %}
{% load static %}
{% block content %}


{% include 'partials/_menu.html' %}

<div class="text-center">
    <h2 class="display-5">Cadastro</h2><br>

    <form method="POST" action="{% url 'cadastro' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group mb-3">
            <label for="usuario" class="form-label">Nome</label>
            <input type="text" class="form-control" id="usuario" name="usuario">
        </div>
        <div class="form-group mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email">
        </div>
        <button type="submit" class="btn btn-dark">Cadastrar</button>
    </form>
</div>

{% endblock %}