{% extends 'base.html' %}
{% load static %}
{% block content %}


{% include 'partials/_menu.html' %}
<h2 class="display-5 text-center">Editar Usuário: {{ user.username }}</h2><br>
{% include 'partials/_alerts.html' %}

<div class="input-group mb-3">
    <form method="POST" action="/usuarios/{{ user.id }}/editar_usuario" enctype="multipart/form-data">
        {% csrf_token %}
         <div class="form-group mb-3">
            <label for="username">Nome de Usuário:</label>
            <input type="text" class="form-control" id="username" name="username" value="{{ user.username }}">
        </div>
        <div class="form-group mb-3">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" name="email" value="{{ user.email }}">
        </div>

        <button type="submit" class="btn btn-dark input-group-append">Atualizar</button>
    </form>
</div>

{% endblock %}