{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

{% include 'partials/_menu.html' %}
<h2 class="display-5 text-center">Login</h2><br>
{% include 'partials/_alerts.html' %}

<form class="w-50 mx-auto" method="POST" action="{% url 'login' %}" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form.visible_fields %}
    <div class="form-group mb-3 form-label">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field|add_class:'form-control' }}
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-dark">Login</button>
</form>
{% endblock %}
