{% extends 'base.html' %}
{% load static %}
{% block content %}

{% include 'partials/_menu.html' %}
<h2 class="display-5 text-center">Login</h2><br>
{% include 'partials/_alerts.html' %}

<form class="w-50 mx-auto" method="POST" action="{% url 'login' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email" required><br>
        <label for="senha" class="form-label">Senha</label>
        <input type="password" class="form-control" id="senha" name="senha" required>
    </div>
    <button type="submit" class="btn btn-dark">Login</button>
</form>
{% endblock %}
