{% extends 'base.html' %}
{% load static %}
{% block content %}

{% include 'partials/_menu.html' %}
    <h2 class="display-5 text-center">Importar Transações</h2>
{% include 'partials/_alerts.html' %}
        <div class="text-center input-group mb-3">
            <form method="POST" action="{% url 'index' %}" enctype="multipart/form-data">

                <div class="mb-3 text-center"><br>
                <div class="input-group">
                    <input name="file_name" class="form-control" id="formFileLg" type="file" style="width: 500px;">

                    {% csrf_token %}
                <div class="input-group-append">
                    <button type="submit" class="btn btn-dark input-group-append">Importar</button>
                </div>
                </div>
                </div>
            </form>
        </div><br>


            <h2 class="display-5 text-center">Importações Realizadas</h2><br>

            <table class="table table-dark table-hover table-borderless">
                <thead class="table-secondary">
                    <tr>
                        <td scope="col">Datas das Transações</td>
                        <td scope="col">Datas das Importações</td>
                    </tr>
                <thead>
                <tbody>
                    {% for objeto in todos_objetos %}
                    <tr>
                        <td>{{ objeto.data_transacao }}</td>
                        <td>{{ objeto.data_importacao }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
{% endblock %}